body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.85em;
}

table {
    font-family: Tahoma, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}

td, th {
    border: 1px solid;
    text-align: left;
    padding: 5px;
}

tr:hover {
    background-color: powderblue;
}

tr:hover #pass {
    background-color: lightgreen;
}

tr:hover #fail {
    background-color: lightcoral;
}

#pass {
    background-color: green;
}

#fail {
    background-color: red;
}
